.popup-btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-image {
  height: 50px;
  margin: auto;
  display: block;
}

.popup-input {
  outline: none;
  border: none;
  width: -webkit-fill-available;
}

.popup-text {
  font-weight: 600;
  text-align: center;
}
