.popup-pg__row {
  padding: 8px;
  border-radius: 0px 0px 8px 0px;
  transition: box-shadow, opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  &.--selected {
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.15);
  }
  &.--hovered {
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.15);
  }
  &.--hidden {
    opacity: 0.6;
  }
}

.popup-pg__row-mover {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 100%;
  height: 100%;
  width: 16px;
  background-color: #007f7f;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
  cursor: move;
  border-radius: 4px 0px 0px 4px;
  /* box-shadow: 3px 3px 12px 3px #ebebeb; */
  &.--active {
    opacity: 1;
  }
  &:hover {
    background-color: #046f70;
  }
}

.popup-pg__row-actions {
  position: absolute;
  top: -32px;
  right: 0px;
  background-color: #007f7f;
  display: flex;
  padding: 0px 12px;
  border-radius: 8px 8px 0px 0px;
  /* box-shadow: 3px 3px 12px 3px #ebebeb; */
}

.popup-pg__row-action-btn {
  /* background-color: rgb(210, 65, 65); */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
/* ********** */
/* Sortable */
.draggable {
  cursor: move;
}

.padding-guideline {
  height: 100%;
  width: 2px;
  background-color: red;
  position: absolute;
}

.popup-pg__body.--highlight {
  border: 1px dashed rgba(0, 0, 0, 0.3);
  margin: -1px;
}

// .smooth-dnd-ghost {
//   transform: translate3d(0, 0, 0) !important;
// }
